@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	
	}
body{
	font-family:"微软雅黑";
	color: #FFFFFF;
	font-size: 12px;
	}
ul li{
	list-style:none;
	}
a{
	text-decoration:none;
	color:#FFFFFF;
	}
.fl{
	float:left;
	}
.fr{
	float:right;
	}

.inner_c{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	}

.inner_nr{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	}
.zhong{
	text-align:right;
	width:1140px;
	color:#333333;
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
	}
.zhong a{
	color:#333333;
	}
.qingchu{
	clear:both;
	width:0px;
	height:0px;
	overflow:hidden;
	}
/*开始top*/
.header_top{
	padding-bottom:30px;
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;}
.welcom{
	float:left;
	}
.exit{
	float:right;}
/*结束top*/
.logo{
	float:left;
	}
.kefuqq{
	color: #333333;
	font-family: "微软雅黑";
	font-size: 18px;
	margin-top:23px;
	}
.kefuqq p img{
	margin-left:15px;
	vertical-align:middle;
	}
/*S导航条*/
.nav_bg{
	width:100%;
	height:50px;
	background-color:#ff6476;
	margin-bottom:15px;
	}
.nav{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 50px;
}
.nav ul li{
	float: left;
	width: 132px;
	height: 35px;
	padding-top:15px;
	display: block;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	word-spacing: 25px;
	}
.nav .cur{
	background-color:#3cded8;
	}
.nav ul li:hover{
	background-color:#3cded8;
	}
/*E导航条*/
.weizhi{
	font-size:12px;
	color:#333333;
	font-weight:normal;
	margin-top:20px;
	}
.weizhi a{
	font-size:12px;
	color:#333333;
	font-weight:normal;
	}
.weizhi span{
	font-weight:bold;
	}
/*E位置*/
/*S提交按钮*/
/*.sub{
	width:425px;
	margin-left:350px;
	padding-top:20px;
	}*/
.sub{
	width: 425px;
	height: 50px;
	background-color: #ff6476;
	border-radius: 5px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	}
.sub:hover{
	background-color:#3cded8;

	}
.suban{
	width: 425px;
	height: 50px;
	background-color: #ff6476;
	border-radius: 5px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	}
.suban:hover{
	background-color:#3cded8;

	}
/*E提交按钮*/
.biao2{
	width: 1138px;
	margin-bottom: 30px;
	border: 1px solid #e7e7e7;
	margin-top: 20px;
	line-height: 30px;
	text-align: center;
	color: #000000;
	padding-top: 0px;

	}
.biao2ti{
	width: 838px;
	margin-bottom: 30px;
	border: 1px solid #e7e7e7;
	margin-top: 20px;
	line-height: 40px;
	text-align: center;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 150px;
	padding-right: 150px;
	font-size: 14px;

	}
.biao2kuan{
	width: 638px;
	margin-bottom: 30px;
	border: 1px solid #e7e7e7;
	margin-top: 40px;
	line-height: 30px;
	text-align: center;
	color: #000000;
	padding-left: 250px;
	padding-right: 250px;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;

	}
.addshoukuan{
	width:1140px;
	text-align:center;
	margin:50px auto 90px auto;
	font-weight:normal;
	text-align:center;
	font-size: 14px;
	font-weight: bold;
	color:#666666;
	/*margin:50px 0px 90px 140px ;*/
	}
.formdl{
	margin-bottom:20px;
	}
.formzi{
	width:350px;
	line-height:50px;
	text-align:right;
}
.formzi2{
	width:350px;
	line-height:28px;
	text-align:right;
}
/*.textkuang{
	height: 50px;
	width: 425px;
	}*/
.textkuang{
	width: 413px;
	height: 48px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding-left: 10px;
	}
.textkuangys{
	width: 413px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	}

.annw{
	height:28px;
	}
.annw input{
	width:89px;
	height:26px;
	background-color:#f3f3f3;
	border:1px solid #d9d9d9;
	cursor:pointer;
	}
.annw input:hover{
	width:89px;
	height:26px;
	background-color:#E5E5E5;
	border:1px solid #d9d9d9;
	}
.formdl h6{
	text-align:left;
	margin-left:350px;
	font-size:12px;
	font-weight:normal;
	}
.formzi span{
	color:#ff6476;}
.btan{
	margin:80px 0px  0px 30px;
	}
.btancc{
	width: 100px;
	height: 30px;
	margin-left: 20px;
	}
.btanccwj{
	width: 100px;
	height: 30px;
	}
.texyu {
	width:423px;
	border-radius:5px;
	border:1px solid #cccccc;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	height:100%;
	}
.texyu2 textarea{
	width:274px;
	height:48px;
	border-radius:5px;
	border:1px solid #cccccc;
	}
.wenben textarea{
	width:652px;
	height:81px;
	border:1px solid #cccccc;
	}
.wenbenkys{
	width: 625px;
	border: 1px solid #cccccc;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	}
.sele1 select{
	width:125px;
	height:48px;
	margin-right:20px;
	border-radius:5px;
	border:1px solid #cccccc;
	}
.wkyang{
	width:125px;
	height:48px;
	margin-right:20px;
	border-radius:5px;
	border:1px solid #cccccc;
	}
.sele2 select{
	width:423px;
	height:48px;
	border-radius:5px;
	border:1px solid #cccccc;
	}
.dakuan{
	width:423px;
	height:48px;
	border-radius:5px;
	border:1px solid #cccccc;}
.duowen a{
	font-size: 12px;
	color: #1d8fd1;
	line-height:20px;
	text-decoration: underline;
	}
.formdl h6 a{
	font-size: 12px;
	color: #1d8fd1;
	line-height:20px;
	text-decoration: underline;
	}

.formdl ul li{
	float:left;
	margin-right:15px;
	margin-top:10px;
	font-size: 12px;
	font-weight: normal;
	text-align:center;
	line-height:26px;
	height: 26px;
	}
.kind ul{
	float:left;
	width:580px;
	overflow:hidden;
	}
.kind h5{
	padding-left:15px;
	width:40px;
	float:left;
	font-size: 12px;
	line-height:45px;
	font-weight: normal;
	}
.formdl ul li input{
	margin-right:3px;
	float:left;
	margin-top:5px;
	width:15px;
	height:15px;
	}

.formdl .dxk{
	float:left;
	width:635px;
	padding:10px 0px 20px 0px;
	border-radius:5px;
	border:1px solid #cccccc;
	margin-bottom:20px;
	overflow:hidden;
	}
.daxk{
	float: left;
	width: 625px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
	overflow: hidden;
	}
.dxk_c{
	width:600px;
	margin-left:15px;
	}
/*Scaiwu*/
.account{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	width: 1138px;
	border: 1px solid #e7e7e7;
	margin: 30px auto 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	}

.balance{
	margin:50px 60px 0px 20px;
	}
.balance span{
	color:ff6476;
	font-family:"微软雅黑";
	font-size: 20px;
	color:#ff6476;
	margin-left:5px;
	margin-right:10px;
	}
.balance b{
	color:#ff6476;
	}


.detail{
	font-family: "微软雅黑";
	font-size: 14px;
	color:#666666;
	font-weight: bold;
	width:1138px;
	height:53px;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	margin:0 auto;
	}
.zi{
	margin:20px 0px 0px 20px;
	}
.leixing{
	margin:20px 0px 0px 20px;
		}
.query{
	font-size: 12px;
	font-weight: normal;
	padding-top: 8px;
	width: 420px;
	padding-right: 20px;
	float: right;
	}
.query span{
	margin-left:15px;
	}
.date{
	width: 99px;
	height: 34px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	margin-right: 8px;
	margin-left: 8px;
	padding-left: 10px;
	}
.search{
	float:right;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	width:68px;
	height:34px;
	margin-left:5px;
	vertical-align:middle;
	border:none;
	cursor:pointer;
	}
.search:hover{
	float:right;
	background-image:url(images/sou.png);
	background-repeat:no-repeat;
	width:68px;
	height:34px;
	margin-left:5px;
	vertical-align:middle;
	border:none;
	cursor:pointer;
	}
.jilu{
	width: 1120px;
	height: 30px;
	padding-top: 20px;
	margin: 0 auto;
	font-family: "微软雅黑";
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	padding-left: 20px;
	}

.kong{

	}
.xijie{
	width: 1138px;
	border: 1px solid #e7e7e7;
	margin-right: auto;
	margin-left: auto;
	font-family: "微软雅黑";
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	line-height: 50px;
	}
.biaoti{
	background-color: #f9f9f9;
	border-bottom-color: #e7e7e7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: center;
	}
.xijie .biaoti table{
	height: 45px;
	line-height: 45px;
	margin-left: auto;
	margin-right: auto;
	}
.xijie .xiangqing{
	text-align: center;
	border-top: 1px dashed #e7e7e7;
	}
.xijie .xiangqing table{
	height: 44px;
	line-height: 45px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px dashed #e7e7e7;
	}
.xijie .xiangqingmo table{
	height: 45px;
	line-height: 45px;
	margin-left: auto;
	margin-right: auto;
	}
.xijie .xiangqingmo{
	text-align: center;
	border-top: 1px solid #e7e7e7;
	}
.xijie .no{
	color:#ff6476;
	}
.xijie .no a{
	color:#ff6476;
	}
.xijie a{
	color:#999999;
	}
.xijie a:hover{
	color:#ff6476;
	}
/*Ecaiwu*/
/*Sgeren*/
.main_nav{
	height: 35px;
	width: 400px;
	}
.main_nav li{
	float: left;
	width: 150px;
	height: 35px;
	margin-right: 50px;
	}
.main_nav .cur a:link,.main_nav .cur a:visited,.main_nav .cur a:hover,.main_nav .cur a:active{
	width:150px;
	display:block;
	height:35px;
	color:#ff6476;
	background-image:url(images/de_bg.jpg);
	}
.main_nav li a{
	font-family: "微软雅黑";
	font-size: 14px;
	color:#666666;
	font-weight: bold;
	}
.main_nav li a:link{
	color:#666666;
	width:150px;
	display:block;
	text-align:center;
	height:35px;
	}
.main_nav li a:visited{
	width:150px;
	display:block;
	height:35px;
	color:#666666;
	}
.main_nav li a:hover{
	width:150px;
	display:block;
	height:35px;
	color:#ff6476;
	background-image:url(images/de_bg.jpg);
	}
/*Egeren*/
/*Sindex*/
.zhongxin{
	font-family: "微软雅黑";
	color:#666666;
	font-size: 12px;
	}
.member{
	font-size: 16px;
	width: 727px;
	border: 1px solid #e7e7e7;
	margin-right: 15px;
	float: left;
	}
.member_tittle{
	width: 712px;
	background-color: #f9f9f9;
	border-bottom-color: #e7e7e7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	}
.zhongxin p{
	font-size: 16px;
	color: #666666;
	font-weight: bold;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	}
.active{
	width: 695px;
	border-bottom: 1px solid #e7e7e7;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
	}
.active2{
	width: 695px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
	}

.active .biaoge{
	margin-top:30px;
	}
.active table tr td{
	text-align:center;
	padding-top:20px;}
.active .balance {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight:bold;
	}
.active .balance span{
	font-weight:normal;
	}
.active .balance {
	margin:40px 80px 0px 20px;
	float:left;
	}
.active .withdrawal{
	margin-right:0px;
	margin-top:20px;
	}
.message{
	font-size: 16px;
	width: 392px;
	border: 1px solid #e7e7e7;
	float: left;
	padding-bottom: 10px;
	}
.message_tittle{
	width: 382px;
	background-color: #f9f9f9;
	border-bottom-color: #e7e7e7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	}
.xiaoxi {
	text-align: left;
	width: 377px;
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;
	padding-left: 15px;
	}
/*.xiaoxi ul li span{
	width:80px;
	float:right;
	text-align:right;
	padding-right:15px;
}*/
/*.xiaoxi ul li img{
	vertical-align:middle;
	}*/

.xiaoxi a:link{
	color:#666666;
	}
.xiaoxi a:visited{
	color:#666666;
	}
.xiaoxi a:hover{
	color:#999999;
	}
.xiaoxi a:active{
	color:#999999;
	}
.process{
	color: #666666;
	width: 1138px;
	border: 1px solid #e7e7e7;
	margin-top: 20px;
	margin-bottom: 30px;
	}
.process_tittle{
	width: 1118px;
	background-color: #f9f9f9;
	border-bottom-color: #e7e7e7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	}
.process_tittle p{
	margin:15px;}
.tu{
	padding-top:45px;
	width:1140px;
	overflow:hidden;
	}
.buzhou{
	margin:0px 45px 50px 45px;
	width:170px;
	font-size: 12px;
	line-height:24px;
	text-align:center;
	float:left;
	
	}
.buzhou h6{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
	width: 170px;
	}
.kuan{
	width:170px;
	}
.imgkuai{
	margin-top: 10px;
	float: left;
	}

/*Eindex*/
/*Sjrwm*/
.tou {
	width: 1138px;
	margin-top: 25px;
	background-color: #f9f9f9;
	border: 1px solid #e7e7e7;
	height: 40px;
	}
.touyy {
	width: 1138px;
	margin-top: 25px;
	background-color: #f9f9f9;
	border: 1px solid #e7e7e7;
	height: 44px;
	}
.tou_nav{
	width:400px;
	float:left;
	}
.tou_nav ul li{
	float: left;
	line-height:44px;
	font-weight:normal;
	height: 44px;
	padding-left:20px;
	padding-right:20px;
	text-align: center;
	display: block;
	font-family: "微软雅黑";
	font-size: 12px;
	}
.tou_nav ul li a{
	height:44px;
	display:block;
	color:#333333;
	t
	}
.tou_nav ul li:hover{
	background-color:#FFFFFF;
	}
.tou_nav .end{
	background-color:#FFFFFF;
	}
.tou_nav .end a{
	color:#ff6476;
	}
.tou_nav ul li a:hover{
	color:#ff6476;
	}
.xiala{
	width: 500px;
	float: right;
	padding-right: 20px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333333;
	padding-top: 8px;
	
}
.xiala ul li{
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight:normal;
	float:left;
	margin-right:10px;
	line-height:44px;
	color:#333333;
	}
.xiala ul li select{
	background:#f9f9f9;
    width:55px; 
    border:none;
	font-size: 12px; 
	color:#333333;
	}
.project{
	margin-top:20px;
	border:1px solid #e7e7e7;
	width:1136px;
	color:#333333;
	font-size: 12px;
	font-weight:normal;
	font-family: "微软雅黑";
	overflow:hidden;
	}
.h5{
	font-size: 16px;
	font-weight: bold;
	font-family: "微软雅黑";
	}
.tgbai{
	width: 1136px;
	padding-bottom: 20px;
	padding-top: 20px;
	}
.kuannr{
	width: 1136px;
	}
.project .tg span{
	color:#ff6476;
	}
.project .tg img{
	vertical-align:middle;
	margin-right:7px;
	}
.project .tg b{
	margin:8px;
	}
.tupian{
	width: 235px;
	margin-top: 0px;
	text-align: center;
	padding-left: 20px;
	padding-bottom: 30px;
	padding-right: 20px;
	}
.tupian input{
	width:113px;
	height:41px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	border:none;
	background-color:#ff6476;
	margin-top:20px;
	cursor:pointer;
	}
.tupian input:hover{
	background-color:#3cded8;	
	}
.tupiankd{
	width: 235px;
	margin-top: 0px;
	text-align: center;
	padding-left: 20px;
	padding-bottom: 30px;
	padding-right: 20px;
	float:left;
	}
.tupiankd input{
	width:113px;
	height:41px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	border:none;
	background-color:#ff6476;
	margin-top:20px;
	cursor:pointer;
	}
.tupiankd input:hover{
	background-color:#3cded8;	
	}
.introduce{
	font-size:14px;
	width:820px;
	line-height:25px;
	float:left;
	}
.introduce tr{
	psdding-top:200px;
	font-size:14px;
	line-height:30px;
	color:#333333;
	}
.kuand{
	width:820px;}
.duanluo{
	margin-top:20px;
	border-top:1px solid #e7e7e7;
	width:820px;
	}
.duanluonr{
	margin-top:20px;
	line-height:25px;
	}
.jiacu{
	font-weight:bold;
	}
.cpage{
    text-align: center;
	padding-top:20px;
    overflow: hidden;
	color:#333333;

}
.cpage a {
    display: inline-block;
    height:40px;
	width:40px;
	line-height:40px;
    border: 1px solid #cccccc;
    background-color:#FFFFFF;
    margin-right: 15px;
	text-decoration: none;
    color:#333333;

	text-align:center;
		}
.cpage img {
    padding-bottom:15px;
    padding-top:15px;
	line-height:40px;
	display:block;
	padding-left:15px;
}
.cpage .cur{
	color:#c98a8a;
	}
/*Ejrwm*/
/*E弹出*/	
#alert{position:fixed;
	_position: absolute;
	_top: expression(documentElement.scrollTop + 340 + "px");
	 background:#fff;
	 width:677px;
	 height:506px;
	 top: 50%;
	 left: 50%;
	 margin: -200px 0 0 -250px;
	 overflow:hidden;
	 z-index:99999;
	 display:none; 
	 }	
.alert_c{
	font-size: 14px;
	font-weight: bold;
	color:#666666;
	margin:12px;
	text-align:center;
	}
.close{
	margin-top:15px;
	}
h4{
	padding-top:30px;
	color: #000000;
	font-family: "微软雅黑";
	font-size: 20px;
	margin-top:15px;
	}
.jietu{
	padding-top: 50px;
	width: 500px;
	margin: auto;
	overflow: hidden;
	line-height: 20px;
	}	
.touxiang{
	height:145px;
	margin:50px 0px 20px 270px;
	}
.zi2{
	float:left;
	line-height:50px;
	}
.ren{
	float:left;
	margin-right:20px;
	}
.anniu2{
	float:left;
	margin-top:35px;}
.anniu2 input{
	width:79px;
	height:26px;
	background-color:#f3f3f3;
	border:1px solid #d9d9d9;
	}
.anniu2 input:hover{
	background-color:#E5E5E5;
	}
.anniu2 p{
	margin-bottom:15px;
	}
.tishi{
	margin-left:150px;
	text-align:left;
	line-height:40px;
	font-size: 12px;
	font-weight: normal;
	margin-bottom:10px;
	color: #999999;
	}
.wzlj input{
	width:423px;
	height:48px;
	border:1px solid #d9d9d9;
	border-radius:5px;
	}
.sub3{
	margin-bottom:55px;
	}
.sub3 input{
	margin-left:70px;
	width: 425px;
	height: 50px;
	background-color: #ff6476;
	border-radius: 5px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	}
.sub3 input:hover{
	background-color:#3cded8;
	}
/*S详情*/
.wen{
	margin-bottom: 20px;
	width: 1138px;
	padding-bottom: 50px;
	border: 1px solid #e7e7e7;
	margin-top: 15px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	}
.wen_content h1{
	color: #ff6476;
	font-family: "微软雅黑";
	font-size: 18px;
	margin-top: 40px;
	font-weight: normal;
	width: 1138px;
	}
.wen_content h6{
	margin-top: 25px;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	}

/*S消息中心*/
.biao{
	width: 1138px;
	font-size: 12px;
	margin-bottom: 20px;
	margin-top: 15px;
	line-height: 45px;
	font-weight: normal;
	text-align: center;
	color: #333333;
	line-height: 45px;
	border: 1px solid #E7E7E7;
	}
.biaotou{
	width: 1138px;
	height: 44px;
	border-left: 1px solid #f9f9f9;
	border-right: 1px solid #f9f9f9;
	border-bottom: 2px solid #E83B3E;
	border-top: 1px solid #f9f9f9;
	background-color: #f9f9f9;
	text-align: center;
	}
.biaotou table{
	margin-left:auto;
	margin-right:auto;}
.biaorong{
	border-top: 1px dashed #e7e7e7;
	text-align: center;
	}
.biao table a{
	color:#333333;
	}
.biao table a:hover{
	color:#999999;
	}
.biaorong table{
	margin-left:18px;
	}
.biaorongmo table{
	margin-left:18px;
	text-align:left;
	}
.biaorongmo{
	text-align: center;
	border-top: 1px solid #e7e7e7;
	}
/*S资源*/

.dingdan{
	padding-left: 15px;
	width: 1123px;
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	background-color: #f9f9f9;
	border: 1px solid #e7e7e7;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	}
.dingdan ul li{
	float:left;
	text-align:center;
	margin-left:5px;
	}
.dingdan .duoxuan{
	width: 75px;
	height: 34px;
	margin-top: 8px;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	}

.dingdan .yi{
	width: 109px;
	height: 34px;
	color: #999999;
	margin-top: 8px;
	margin-right: 8px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	padding-left: 10px;
	}
.so {
	float:right;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	width:68px;
	height:34px;
	margin-left:2px;
	margin-top:9px;
	border:none;
	cursor:pointer;
	}
.so:hover {
	background-image:url(images/sou.png);
	}
.tianjia{
	margin-top:9px;
	width:150px;
	text-align:center;
	
	}
.adj{
	width:80px;
	height:34px;
	margin-left:auto;
	margin-right:auto;
	text-decoration: none;
	color: #ffffff;
	line-height: 34px;	
	border:1px solid #e7e7e7;
	background-color:#ff6476;
	border-radius:5px;
	display:block;
	text-align: center;
	}
.adj:hover{
	background-color:#3cded8;
	}

.xwgkdh {
	position:absolute;
	width:150px;
	display:none;
	}
.xwgkdh a{
	width:150px;
	text-decoration: none;
	color: #ffffff;
	line-height: 34px;	
	border:1px solid #e7e7e7;
	background-color:#ff6476;
	height:34px;
	margin-top:5px;
	border-radius:5px;
	display:block;
	text-align: center;	
	
	}
.xwgkdh a:hover{
	background-color:#3cded8;
	display:block;
	}

.zhanghu{
	color:#333333;
	width:1138px;
	height:30px;
	padding-top:20px;
	margin:0 auto;
	}
.zhanghu p{
	font-size: 12px;
	font-weight:normal;
	padding-left:20px;
	}
.zixun{
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	width: 1138px;
	border: 1px solid #e7e7e7;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
	line-height: 30px;
	}
.zixun .biaoti{
	background-color: #f9f9f9;
	border: 1px solid #e7e7e7;
	text-align: center;
	line-height: 50px;
	}
.zixun .xiangqing{
	text-align:center;
	border-top: 1px dashed #e7e7e7;

	}
.zixun .xiangqingmo{
	text-align:center;
	border-top: 1px solid #e7e7e7;
	}
.zixun .xiangqing table{
	width:1110px;
	height:75px;
	line-height:75px;
	margin-left:auto;
	margin-right:auto;
	}
.zixun .xiangqingmo table{
	width:1110px;
	height:75px;
	line-height:75px;
	margin-left:auto;
	margin-right:auto;
	border-top:1px dashed #e7e7e7;
	}
.zixun table tr td{
	text-align:center;
	}
.zixun .ing{
	color:#ff6476;
	}
.zixun .lan{
	color:#0099ff;
	}
.zixun .lan a{
	color:#0099ff;
	}
.zixun .lan a:hover{
	color:#ff6476;
	}
/*S底*/
.di{
	width: 100%;
	height: 45px;
	margin-top: 20px;
	background-color: #333333;
	text-align: center;
	padding-top: 20px;
	}
.di p{
	width:1140px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:18px;
	}
/*E底*/
.baifen{
	width: 100%;
	padding-bottom: 30px;
	}
.zhang{
	width: 300px;
	float: left;
	padding-left: 50px;
	padding-top: 15px;
	font-size: 14px;
	font-weight: normal;
	
	}
.withdrawal a{
	height:45px;
	width:115px;
	font-weight:bold;
	display:block;
	text-align:center;
	background-color:#ff6476;
	}
.withdrawal a:hover{
	background-color:#3cded8;
	display:block;
	}
.withdrawal{
	height: 45px;
	width: 115px;
	line-height: 45px;
	text-align: center;
	color: #FFFFFF;
	float: left;
	display: block;
	margin-right: 30px;
	}
.add{
	height: 45px;
	width: 130px;
	line-height: 45px;
	text-align: center;
	color: #FFFFFF;
	float: left;
	margin-right: 30px;

	}
.add a{
	height:45px;
	width:130px;
	text-align:center;
	background-color:#ff6476;
		display:block;
	}
.add a:hover{
	background-color:#3cded8;
	display:block;
	}
.mingxi{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	width: 1130px;
	height: 53px;
	background-color: #f9f9f9;
	border: 1px solid #e7e7e7;
	}
.hong{
	color: #ff6476;
	font-size: 18px;
}
.ziys{
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 300px;
	float: left;
	padding-left: 20px;
	}
.queryding{
	font-size: 12px;
	font-weight: normal;
	padding-top: 8px;
	width: 620px;
	padding-right: 20px;
	float: right;
	}
.balancewen{
	font-family: "微软雅黑";
	font-size: 14px;
	margin-top: 14px;
	margin-right: 80px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: left;
	padding-left: 10px;
	}
.nrong{
	width: 290px;
	float: left;
	overflow: hidden;
	}
.shijian{
	width: 80px;
	float: left;
	overflow: hidden;
	}
.nrong img{
vertical-align:middle;
}
.wen_content{
	width:1138px;}
.duanl{
	width: 1100px;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	
	}
.duanl p{
	font-size: 14px;
	text-indent:25px
	}
.tiansou{
	width: 700px;
	float: left;
	}
.tianzh{
	width: 170px;
	float: right;
	}
.baikk{
	width: 635px;
	padding-top: 10px;
	text-align: left;
}
.textkuangnr{
	width: 413px;
	height: 48px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding-left: 10px;
	}

.denglukky{
	width: 400px;
	height: 55px;
	}
.denglukky li{
	float: left;
	width: 150px;
	height: 35px;
	margin-right: 50px;
	}
.denglukky .cur a:link,.denglukky .cur a:visited,.denglukky .cur a:hover,.denglukky .cur a:active{
	width: 150px;
	display: block;
	height: 35px;
	color: #ff6476;
	background-image: url(images/de_bg.jpg);
	background-position: center 10px;
	padding-top: 0px;
	padding-bottom: 12px;
	background-repeat: no-repeat;
	}

.denglukky li a{
	font-family: "微软雅黑";
	font-size: 14px;
	color:#666666;
	font-weight: bold;
	padding-bottom: 12px;
	}
.denglukky li a:link{
	color:#666666;
	width:150px;
	display:block;
	text-align:center;
	height:35px;
	padding-bottom: 12px;
	}
.denglukky li a:visited{
	width:150px;
	display:block;
	height:35px;
	color:#666666;
	padding-bottom: 12px;
	}
.denglukky li a:hover{
	width: 150px;
	display: block;
	height: 35px;
	color: #ff6476;
	background-image: url(images/de_bg.jpg);
	background-position: center 10px;
	padding-top: 0px;
	padding-bottom: 12px;
	background-repeat: no-repeat;
	}
.xiazz{
	color: #ff6476;
	float: left;
	padding-left: 20px;
}
