@charset "utf-8";
/* CSS Document */

/* CSS Document */
*{margin:0;padding:0}
body{font-family: "微软雅黑"}
a{text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
input,textarea,select,button:focus{ outline: none; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }
/*顶部开始*/
.beij{
	width: 100%;
	height: 87px;
	}
.datu1{
	width:100%;
	height:600px;
	background-image:url(../images/lunbo2.jpg);
	background-position:center top;
	}
.datu2{
	width:100%;
	height:433px;
	background-image:url(../images/lunbo3.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	}
.datu3{
	width:100%;
	height:600px;
	background-image:url(../images/lunbo4.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	}
.datu4{
	width:100%;
	height:432px;
	background-image:url(../images/lunbo5.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	}
.datu5{
	width:100%;
	height:433px;
	background-image:url(images/lunbo6.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	}
.duanluo{
	padding-top:15px;
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	}
.duanluo h6{
	font-family: "微软雅黑";
	font-size: 20px;
	word-spacing: 25px;
	line-height: 56px;
	color: #333333;
	}
.duanluo p{
	font-family: "微软雅黑";
	font-size: 14px;
	word-spacing: 25px;
	line-height: 30px;
	color: #333333;
	}
/*.tou{
	margin-top:20px;
	font-family: "微软雅黑";
	font-size:20px;
	word-spacing:25px;
	line-height:56px;
	color: #333333;
	}
.duan{
	margin-bottom:30px;
	font-family: "微软雅黑";
	font-size:14px;
	word-spacing:25px;
	line-height:34px;
	color: #333333;
	}
.duan p{
	font-family: "微软雅黑";
	font-size:14px;
	word-spacing:25px;
	line-height:34px;
	color: #333333;
	}*/
.duanluo p img{
	margin-right:10px;
	margin-left:5px;
	}
.ditu{
	margin-bottom: 55px;
	margin-top: 20px;
}
.top{
	width:100%;
	height:665px;
	background-image:url(images/lunbo1.jpg);
	background-repeat:no-repeat;
	}


.topnav{
	height: 56px;
	color: #ffffff;
	font-size: 18px;
	margin-top: 18px;
	margin-right: 20px;
	float: right;
	}
.topmenu{ height: 56px; line-height: 56px; }	
.topmenu li { float: left; position: relative; }
.topmenu li a{ border-bottom: 3px solid transparent; }
.topmenu li.on >a{ color: #fff; border-bottom: 3px solid #3cded8; }
.topmenu li a:hover { color: #fff; border-bottom: 3px solid #3cded8; }
.topmenu li > a { display: block; float: left; font-size: 16px; color: #fff; height: 65px; line-height: 65px; width: 120px; }
.topmenu li ul { position: absolute; left: 0; z-index: 999; background: rgba(0,0,0,0.4); display: none; border-top: 3px solid #3cded8; }
.topmenu li ul a { color: #fff; font-size: 16px; height: 58px; line-height: 58px; }
.one{ top: 65px; }
.one li a:hover { color: #fff; background: #3cded8; }

.header-content home{ width:100%; }	
.xwgkdh{
	position: absolute;
	left: 0px;
	width: 106px;
	top: 52px;
	background-image: url(images/xiala.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 10px;
	display:none;
	}
.bigh2 .xwgkdh a{
	text-decoration: none;
	color: #ffffff;
	line-height: 50px;
	background-image:none;	
	height:60px;
	display:block;
	text-align: center;
	}
.bigh2 .xwgkdh a:hover{
	text-decoration: none;
	line-height: 50px;	
	height: 60px;
	background-image:url(images/tt.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	display:block;
	text-align: center;
	}
.ding{
	background-image:url(../images/ding.png);
	width:100%;
	height:87px;
	background-position:center top;
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	}
.dingcolor{
	background-color:#333333;
	width:100%;
	height:87px;
	}
.shang{
	width: 1140px;
	border: 1px solid #CCCCCC;
	padding: 40px 0;
	}
.juzhong{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*overflow: hidden;*/
	}
.juzhongxia{
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
.juzhongxia2{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
.juzhongxia2 h5{
	font-size: 16px;
	color: #666;
	font-weight: normal;
}
.logo{
	float:left;
	margin-top:19px;
	}
.logo img{
	width: 151px;
	height: 55px;
}	
.menu{
	float:left;
	width:650px;
	margin-left:180px;
	margin-top:20px;
	}
.menu ul li{
	font-family: "微软雅黑";
	float: left;
	padding-left:20px;
	padding-right:30px;
	color: #FFFFFF;
	font-size: 16px;
	word-spacing:25px;
	}

.phone{
	margin-top: 30px;
	float: right;
	text-shadow: 0px 0px #FFFFFF;
	line-height: 40px;
	color: #FFFFFF;
	}
.phone img{
	width: 20px;
	height: 22px;
	margin-right: 5px;
}	
.phone span{
	margin-left:10px;
	font-family: "微软雅黑";
	font-size:18px;
	word-spacing:25px;
	color: #FFFFFF;
	vertical-align:middle;
	}
.dazi{
	width:1000px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	}
span{
	color: #000000;
	}
h1{
	font-family: "微软雅黑";
	font-size:54px;
	color: #FFFFFF;
	font-weight:normal;
	padding-top:195px;
	}
h2{
	margin-top:15px;
	font-family: "微软雅黑";
	font-size:34px;
	color: #FFFFFF;
	font-weight:normal;
	}
.an{
	margin-top:80px;
	}
.zhonjian{
	width: 1080px;
	margin-bottom: 120px;
	/* [disabled]margin-left: auto; */
	margin-top: 50px;
	}
.zhuce{
	width: 495px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 8px #ccc;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 30px;

	}
.zhucezhong{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	}
.zhz{
	padding-bottom:70px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:1140px;
	}
.tubg{
	float:left;
	}
.zhaohui{
	margin-top: 80px;
	width: 490px;
	border-radius: 10px;
	box-shadow: 0px 0px 8px #ccc;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 20px;
	}
.shuru{
	margin-top: 45px;
	float: right;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0px 0px 8px #ccc;
	padding-bottom: 30px;
	padding-top: 20px;
	}
.zhmm{
	font-family:"微软雅黑";
	font-size:20px;
	padding-top:25px;
	color:#ff6476;
	word-spacing:25px;
	}
.zhmima{
	margin-left:18px;
	height:35px;
	width:470px;
	margin-top:30px;
	margin-bottom:20px;
	font-size:16px;
	font-family:"微软雅黑";
	font-weight:bolder;
	}
.phonezhh{
	float:left;
	width:150px;
	margin-left:28px;
	margin-right:100px;
	height:35px;
	display:block;
	}
.emailzhhxz{
	float:left;
	width:150px;
	height:35px;
	display:block;
	}
.phonezhhxz{
	float:left;
	text-align: center;
	margin-left:28px;
	margin-right:100px;
	display:block;
	margin-bottom: 10px;
	}
.phonezhhxz a{
	color:#666;
	display: inline-block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	}

.phonezhhxz.on a{ 
	color: #ff6476;
	background: url(../images/de_bg.jpg) no-repeat center bottom;
}
.emailzhh.on a{
	color: #ff6476;
	background: url(../images/de_bg.jpg) no-repeat center bottom;
}	
.emailzhh{
	float:left;
	width:150px;
	text-align: center;
	height:50px;
	line-height: 50px;
	display:block;
	margin-bottom: 10px;
	}
.phonezhhxz a:hover{
	color: #ff6476;
	background:url(../images/de_bg.jpg) no-repeat center bottom;
}	
.emailzhh a:hover{
	color: #ff6476;
	background:url(../images/de_bg.jpg) no-repeat center bottom;
}	
.emailzhhxz a{
	width:150px;
	display:block;
	height:50px;
	color:#ff6476;
	background-image:url(../images/de_bg.jpg) no-repeat center bottom;
	}
.emailzhh a{
	color:#666666;
	width:150px;
	display:block;
	height:50px;
	
	}

.phonezhh a{
	color:#666666;
	width:150px;
	display:block;
	height:50px;
	
	}
/*.zhmima a:link{
	color:#666666;
	width:150px;
	display:block;
	height:35px;
	}
.zhmima a:visited{
	width:150px;
	display:block;
	height:35px;
	color:#666666;
	}
.zhmima a:hover{
	width:150px;
	display:block;
	height:35px;
	color:#ff6476;
	background-image:url(images/de_bg.jpg);
	}
*/
.main_nav{
	height: 35px;
	width: 370px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 18px;
	}
.main_nav li{
	float:left;
	font-size:16px;
	font-family:"微软雅黑";
	width:150px;
	margin-left:17px;
	margin-right:17px;
	height:35px;
	display:block;
	}
.main_nav li a:link{
	color:#afafc0;
	width:150px;
	display:block;
	height:35px;
	}
.main_nav li a:visited{
	width:150px;
	display:block;
	height:35px;
	color:#afafc0;
	}
.main_nav li a:hover{
	width:150px;
	display:block;
	height:35px;
	color:#ff6476;
	background-image:url(images/de_bg.jpg);
	}
.main_nav .cur a:link{
	width:150px;
	display:block;
	height:35px;
	color:#ff6476;
	background-image:url(images/de_bg.jpg);
	}
.biaodan{
	width:330px;
	margin-left:auto;
	margin-right:auto;
	font-size:12px;
	font-family:"微软雅黑";
	color:#999999;
	}
.textkuang input{
	margin-bottom: 15px;
	border: solid 2px #ccc;
	width: 260px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(images/1.jpg);
	border-radius: 5px;
	padding-left: 70px;
	}
.poswkuang input{
	margin-bottom:15px;
	border:solid 2px #ccc;
	width:260px;
	height:50px;
	background:url(images/1.jpg) no-repeat 0 center;
	border-radius:5px;
	padding-left:70px;
	}

.quren input{
	text-align:center;
	width:330px;
	height:50px;
	background-color:#ff6476;
	border:none;
	border-radius:5px;
	cursor:pointer;
	}
.quren2 input{
	text-align:center;
	width:425px;
	height:50px;
	background-color:#ff6476;
	border:none;
	border-radius:5px;
	cursor:pointer;
	}
.quren3 input{
	text-align:center;
	width:425px;
	height:50px;
	background-color:#ff6476;
	border:none;
	margin-top:15px;
	border-radius:5px;
	cursor:pointer;
	}
.zhk{
	width:477px;
	}
.zhk input{
	margin-bottom:15px;
	border:solid 1px #ccc;
	width:407px;
	height:50px;
	border-radius:5px;
	}
.zhk2{
	width:477px;}
.zhf {
	margin-bottom:15px;
	border:1px solid #ccc;
	width:423px;
	margin-left:35px;
	height:50px;
	border-radius:5px;
	}
.zhfkuang {
	border: 1px solid #ccc;
	width: 420px;
	height: 50px;
	border-radius: 5px;
	padding-left: 15px;
	}
.zhf .sryzm {
	float:left;
	width:292px;
	height:50px;}
.djan{
	width:127px;
	height:50px;
	float:left;
	}
.zhf .djan input{
	width:127px;
	height:50px;
	border:none;
	line-height:50px;
	background:none;
	cursor:pointer;
	}
.djan .hong{
	color:#ff6476;
	font-family:"微软雅黑";
	font-size:14px;
	}

.xian{
	float:left;
	margin-top:10px;
	height:30px;
	width:1px;
	border-left:1px solid #ccc;
	}
.zhaohui span{
	margin-top:10px;
	margin-right:10px;
	color:#ff6476;
	}
.zhk2 span{
	margin-right:8px;
	color:#ff6476;
	float:left;
	margin-left:16px;
	margin-top:15px;
	}

.zhf input{
	float:left;
	margin-bottom:15px;
	border:none;
	width:277px;
	height:50px;
	margin-left:1px;
	}

.shurukuang{
	width:480px;
	}
.shurukuang input{
	margin-bottom:7px;
	margin-top:7px;
	border:solid 1px #ccc;
	width:423px;
	height:50px;
	border-radius:5px;
	}
.fenkuang {
	margin-bottom:15px;
	border:solid 1px #ccc;
	width:437px;
	height:50px;
	margin-left:30px;
	border-radius:5px;
	}
.fenkuang input{
	float:left;
	margin-bottom:15px;
	border:none;
	width:290px;
	height:50px;
	}
.tishi{
	width:480px;
	height:20px;
	margin-top:5px;
	margin-bottom:5px;
	}
.tishi img{
	float:left;
	margin-left:35px;
	}
.tishi span{
	margin-top:2px;
	float:left;
	margin-left:10px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#ff6476;
	}
.dianjif{
	float:left;
	margin-top:8px;
	height:30px;
	width:125px;
	border-left:1px solid #eeeeee;
	}
.dianjif a{
	color:#ff6476;
	font-family:"微软雅黑";
	font-size:14px;
	}
.dianjif p{
	padding-top:5px;}
.shurukuang2 span{
	margin-right:8px;
	color:#ff6476;
	float:left;
	margin-left:10px;
	margin-top:15px;
	}
.zhuce span{
	margin-right:8px;
	color:#ff6476;
	}
.biaotizi h5{
	font-size:20px;
	font-family:"微软雅黑";
	color:#ff6476;
	word-spacing:25px;
	word-spacing: 25px;
	font-weight: normal;
	text-align: center;
	margin-top: 10px;
	line-height:35px;
	text-align:center;

	}

.gouxuan{
	margin-top:8px;
	margin-bottom:10px;}
.gouxuan a{
	font-size:12px;
	font-family:"微软雅黑";
	color:#1b66c7;
	}
.gouxuan input{
	vertical-align:middle;}
.gouxuan span{
	font-size:12px;
	font-family:"微软雅黑";
	color:#666666;
	font-weight:normal;
	height:5px;
	line-height:26px;
	}
.tijiao{
	font-size:16px;
	font-family:"微软雅黑";
	color:#fefefe;
	}
.tijiaoan{
	font-size:16px;
	font-family:"微软雅黑";
	color:#fefefe;
	text-align:center;
	width:360px;
	height:50px;
	background-color:#ff6476;
	border:none;
	border-radius:5px;
	cursor:pointer;
	}
.wang{
	width: 330px;
	text-align: right;
	font-size: 12px;
	font-family: "微软雅黑";
	}
.wang a{
	color:#999999;
	}
.text1 input{
	float:left;
	border:none;
	background:none;
	height:50px;
	line-height:30px;
	width:100%; 
	text-indent:65px;
	}
.text2 input{
	float:left;
	border:none;
	background:none;
	height:50px;
	line-height:30px;
	width:100%; 
	text-indent:65px;
	}
.zit{
	font-size:12px;
	font-family:"微软雅黑";
	color:#999999;
	padding-left:15px;
	}
.shuru table tr td p{
	overflow: hidden;
	height: 50px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}	
.shuru table tr td p.inp_login{
	background: url(../images/1.jpg) no-repeat left center;
}
.shuru table tr td p.inp_reg{
	background: url(../images/2.jpg) no-repeat left center;
}
.dengkuang{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #999999;
	padding: 0 15px;
	margin-bottom: 15px;
	border: none;
	width: 285px;
	height: 50px;
	float: right;
}
.passkuang{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #999999;
	padding: 0 15px;
	margin-bottom: 15px;
	border: none;
	width: 285px;
	height: 50px;
	float: right;
}	
.qingchu{
	clear:both;
	width:0px;
	height:0px;
	overflow:hidden;
	}

/*顶部结束*/
/*main开始*/
.main{
	width:100%;
	}
.zuo{
	float: left;
	width: 180px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-left: 50px;
	padding-right: 50px;
	}
.tuiguang{
	margin-top: 30px;
	text-align: center;
	width: 180px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	}
.tuiguang span{
	font-family: "微软雅黑";
	font-size:20px;
	word-spacing:25px;
	color: #333333;
	padding-top:10px;
	margin-left:12px;
	}
.xiao{
	float: left;
	width: 180px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666666;
	line-height: 25px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	overflow:hidden;
	}
.xiao a{
	margin: 0 4px;
	display: inline-block;
	}
.xiao a:link{
	color: #666666;
	}
.xiao a:visited{
	color: #666666;
	}
.xiao a:hover{
	color: #ff0066;
	text-decoration:underline;
	}
	
.xiao2{
	float: left;
	width: 180px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666666;
	line-height: 25px;
	margin-top: 10px;
	overflow: hidden;
	}
.xiao2 a{
	display:inline-block;
	margin: 0 4px;
	}
.xiao2 a:link{
	color: #666666;
	}
.xiao2 a:visited{
	color: #666666;
	}
.xiao2 a:hover{
	color: #ff0066;
	text-decoration:underline;
	}
.biaoti{
	font-size: 32px;
	color: #333333;
	text-align: center;
	width: 1140px;
	padding-top: 60px;
	padding-bottom: 25px;
	}
.biaoti_one{
	font-size: 32px;
	color: #333333;
	text-align: center;
	width: 1140px;
	padding-top: 10px;
	padding-bottom: 25px;
}	
.nivoSlider{
	width:1135px;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	}
.nivoSlider a{ 
	display: inline-block;
	width: 100%;
	height: 100%;
}	
.nivoSlider a img{
	width: 100%;
	height: 100%;
}
.jian{
	float:left;
	margin-top:150px;
	}
.andtu{
	float:left;
	margin-right:70px;
	margin-left:70px;
	}
.tg{
	float: left;
	width: 280px;
	margin-right: 150px;
	}
.tubiao2{
	width:280px;
	margin-bottom:15px;
	}
.tubiaoda{
	width:200px;
	margin-bottom:15px;
	}
.tg h3{
	margin-top:25px;
	margin-bottom:15px;
	width:280px;
	}
.tg2 h3{
	margin-top:25px;
	margin-bottom:15px;
	width:280px;
	}
.tg2{
	float: left;
	width: 280px;
	}

h3{
	margin-right: 30px;
	font-family: "微软雅黑";
	font-size: 20px;
	word-spacing: 25px;
	font-weight: normal;
	text-align: center;
	margin-top: 20px;
	line-height: 56px;
	}
.wenziw{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
	word-spacing: 25px;
	color: #666666;
	line-height: 25px;
	padding: 0 25px;
	padding-top: 10px;
	}
.wenzi{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	word-spacing: 25px;
	color: #666666;
	line-height: 25px;
	padding: 0 25px;
	}	
.kuang2 .wenzi{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	word-spacing: 25px;
	color: #666666;
	width: 228px;
	padding-left: 20px;
	padding-right: 20px;
	}
.lc .wenzi{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	word-spacing: 25px;
	color: #666666;
	word-spacing: 25px;
	line-height: 26px;
	width: 75%;
	margin: 0 auto;
	}
.wenziju{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	word-spacing: 25px;
	color: #666666;
	word-spacing: 25px;
	line-height: 26px;
	width: 280px;
	padding-top: 10px;
	}
.sp .wenzi{
	text-align:center;
	font-family: "微软雅黑";
	font-size: 14px;
	word-spacing: 25px;
	color: #666666;
	word-spacing: 25px;
	line-height:22px;
	}
.fenge{
	margin-top:70px;}
.fenge1{
	margin-top:50px;
	float:left;}
/*main结束*/
.tiantu{
	width:100%;
	margin-top:30px;
	}
.tiantupian{
	width:100%;
	margin-top:30px;
	margin-bottom:50px;
	}
.tu{
	float:left;
	width:262px;
	height:465px;
	margin-bottom:30px;
	margin-right:30px;
	background-color:#f6f5f5;
	}
.tu2{
	float:left;
	width:262px;
	height:465px;
	background-color:#f6f5f5;
	}
.tu:hover{
	background-color:#A3A0A0;
	}
.tu2:hover{
	background-color:#A3A0A0;
	}
.order{
	margin-top:15px;
	width: 242px;
	margin-left:10px;
	height: 45px;
	border-bottom: 1px solid #333333;
	}
.order span{
	font-family: "微软雅黑";
	font-size:16px;
	word-spacing:25px;
	color: #333333;
	word-spacing:25px;
	margin-right:110px;
	margin-top:30px;
	}
.fen{
	margin-top: 15px;
	width: 252px;
	font-size: 12px;
	}
.fen table{ padding-left: 8px; }	
.fen ul li{
	font-family: "微软雅黑";
	font-size: 12px;
	word-spacing: 25px;
	color: #333333;
	word-spacing: 25px;
	line-height: 20px;
	float: left;
	width: 58px;
	padding-left: 10px;
	padding-right: 15px;
	}
.fen ul li p{
	width:60px;
	line-height:20px;
	}
.fen ul li img{
	float:right;
	}
/*开始centre*/
.xie{
	width: 1140px;
	background-color: #FFFFFF;
	margin-bottom: 15px;
	padding-bottom: 30px;
	}
.pingtai{
	width: 1110px;
	background-color: #FFFFFF;
	padding-left: 30px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	}
.hui ul li{
	float:left;
	margin-right:20px;
	color:#000000;
	font-family: "微软雅黑";
	font-size: 12px;
	word-spacing: 25px;
	color:#666666;
	margin-top:15px;
	word-spacing: 25px;
	}
.liang{
	width: 1110px;
	background-color: #FFFFFF;
	padding-left: 30px;
	margin-bottom: 40px;
	padding-bottom: 15px;
	}
.hui ul li a:link  {
    color:#666666;
}
.hui ul li a:visited  {
    color:#666666;
}
.hui ul li a:hover  {
    color:#ff0051;
	text-decoration:underline;
	}
.hui{
	width:100%;
	background-color: #f6f5f5;
	}
.centre{
	margin-top:25px;
	width:100%;
	background-color: #f6f5f5;
	}
.ys{
	float: left;
	width: 280px;
	margin-right: 150px;
	padding-bottom: 30px;
	}
.ys2{
	float: left;
	width: 280px;
	padding-bottom: 30px;
	}
.biao{
	width:262px;
	margin-right:25px;
	float:left;
	}
.biao2{
	width:262px;
	float:left;
	}
.biaozhi{
	width: 280px;
	text-align: center;
	margin-bottom: 25px;
	}
.below{
	width:100%;
	}
.kuang{
	margin-right: 19px;
	margin-top: 40px;
	float: left;
	width: 268px;
	height: 320px;
	border: 1px solid #cfcfcf;
	padding-bottom: 30px;
	}
.kuang2{
	float: left;
	width: 268px;
	height: 320px;
	margin-top: 40px;
	border: 1px solid #cfcfcf;
	padding-bottom: 30px;
	}
/*结束centre*/
/*开始zhengzhang*/
.zhengzhang{
	width: 100%;
	text-align: center;
	}

.lc{
	float: left;
	width: 303px;
	margin-bottom: 55px;
	background: #fff url(../images/bg.jpg) no-repeat center top;
	padding-bottom: 20px;
	}
.jiantou{
	float:left;
	margin-top:50px;
	margin-left:35px;
	margin-right:35px;
	}
.bbiao{
	text-align:center;
	font-family: "微软雅黑";
	font-size:16px;
	word-spacing:25px;
	font-weight:normal;
	color: #666666;
	word-spacing:25px;
	width:1140px;
	}

.lc h5{
	margin-top:25px;
	margin-bottom:15px;
	text-align:center;
	font-family: "微软雅黑";
	font-size:16px;
	word-spacing:25px;
	font-weight:normal;
	color: #666666;
	word-spacing:25px;
	}
/*结束zhengzhang*/
.bt{
	width:100%;
	height:188px;
	}
.bt1{
	float:left;
	margin-top:60px;
	margin-right:80px;
	margin-left:80px;
	width:230px;
	height:62px;
	border:1px solid #ff0051;
	}
.bt1 p{
	text-align:center;
	font-family: "微软雅黑";
	font-size:18px;
	word-spacing:25px;
	color:#ff0051;
	width:230px;
	height:42px;
	padding-top:20px;
	display:block;
	}
.bt1 a{
	color:#ff0051;
	padding-top:20px;
	text-align:center;
	font-family: "微软雅黑";
	font-size:18px;
	word-spacing:25px;
	color:#ff0051;
	width:230px;
	height:42px;
	padding-top:20px;
	display:block;
	}
.zhong{
	width:800px;
	height:188px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}

/*开始kehu*/
.kehu{
	width:100%
	}
.wangzhan{
	width:1185px;
	margin-bottom:30px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	}
.qitawangzhan{
	width: 1185px;
	margin-bottom: 50px;
	}
.qitawangzhan a{
	float: left;
	line-height: 30px;
	padding-left: 23px;
	padding-right: 10px;
	margin-top: 30px;
	}
/*开始di*/
.di{
	width:100%;
	background-image:url(../images/di.jpg);
	height:167px;
	text-align:center;
	font-family: "微软雅黑";
	font-size: 12px;
	word-spacing: 25px;
	color: #333333;
	word-spacing: 25px;
	}

.zil{
	width: 800px;
	height: 20px;
	padding-top: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size:14px;
	}
.zil a{
	padding-left:20px;
	padding-right:20px;
	display:inline-block;
	
	}
.zil a:link{
	color: #ffffff;
	 display:inline-block;
	
	}
.zil a:visited{
	color: #ffffff;
	 display:inline-block;
	
	}
.zil a:hover{
	color: #ff0066;
	text-decoration:underline;
	 display:inline-block;
	
	}
.zil ul li{
	float:left;
	margin-left:50px;
	}
.zi{
	width: 800px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	color: #cccccc;
	font-weight: normal;
	}
.fenkai{
	width: 1140px;
	}
#showpage {
    text-align: center;
	padding-top:20px;
    padding-bottom:10px;
    overflow: hidden;
    zoom: 1;
}
.cpage{
	display: inline-block;
    overflow: hidden;
}
.cpage a{
    font-size: 16px;
	font-family:"微软雅黑";
    display: inline-block;
    height:30px;
	width:40px;
	padding-top:10px;
    border: 1px solid #cccccc;
    background-color:#FFFFFF;
    margin-left: 10px;
	text-decoration: none;
    color:#333333;
    float: left;
}
.cpage a:hover{
	background: #efefef;
}
.cpage a.page_more{
	border: none;
}
.cpage a.page_next{ background: url(../images/sanjiao.jpg) no-repeat center center;  }
.cpage a.page_next:hover{ background: #efefef url(../images/sanjiao.jpg) no-repeat center center;}
/*LXMjia*/
.mingzi{
	width: 165px;
	text-align: left;
	overflow: hidden;
	float: left;
	margin-right: 5px;
	}
.tubiao{
	width: 69px;
	text-align: left;
	float: left;
	}
.fense{
	color: #ff6476;
	}
.hongan{
	text-align:center;
	width:420px;
	height:50px;
	background-color:#ff6476;
	border:none;
	border-radius:5px;
	font-size:16px;
	font-family:"微软雅黑";
	color:#fefefe;
	cursor: pointer;
	}
.huise{font-size:12px;
	font-family:"微软雅黑";
	color:#666666;
	font-weight:normal;
	height:5px;
	line-height:26px;
}
.huise a{font-size:12px;
	font-family:"微软雅黑";
	color:#666666;

}
.ankuan{
	border: solid 1px #ccc;
	width: 420px;
	height: 50px;
	border-radius: 5px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #999999;
	padding-left: 15px;
}
.ankuanduan{
	width: 263px;
	height: 50px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #999999;
	float: left;
	border:0;
}
.label_style{
	display: block;
	text-align: center;
	margin: 10px 0;
}
.label_style a{
	color: #1b66c7;
}
.tian{
	color: #ff6476;
	font-size: 12px;
	font-family: "微软雅黑";
	background-image: url(../images/tishi.jpg);
	background-repeat: no-repeat;
	background-position: 10px 3px;
	padding-left: 30px;
	}
.yanzheng{
	width: 127px;
	height: 50px;
	border: 0;
	line-height: 50px;
	background-image: none;
	cursor: pointer;
	color: #ff6476;
	font-family: "微软雅黑";
	font-size: 14px;
	background-color: #FFFFFF;
	}
.tuiguang_wang{
	width: 120px;
	font-size: 20px;
	background-image: url(../images/inter.png);
	background-repeat: no-repeat;
	background-position: 35px center;
	height: 30px;
	padding-left: 60px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
.tuiguang_photo{
	width: 120px;
	font-size: 20px;
	background-image: url(../images/photo.png);
	background-repeat: no-repeat;
	background-position: 35px center;
	height: 30px;
	padding-left: 60px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
.tuiguang_game{
	width: 120px;
	font-size: 20px;
	background-image: url(../images/game.png);
	background-repeat: no-repeat;
	background-position: 35px top;
	height: 30px;
	padding-left: 70px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
.tuiguang_zuanshi{
	width: 120px;
	font-size: 20px;
	background-image: url(../images/zuanshi.png);
	background-repeat: no-repeat;
	background-position: 35px center;
	height: 30px;
	padding-left: 60px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
.fengexian{
	width: 2px;
	float: left;
	padding-top: 40px;
	}
.zzi  a:link{
	color:#afafc0;
	width:150px;
	display:block;
	height:35px;
	text-align:center;
	}
.zzi a:visited{
	width:150px;
	display:block;
	height:35px;
	color:#afafc0;
	text-align:center;
	}
.cur a{
	color: #afafc0;
	}
.cur.on a{
	color: #ff6476;
	background-image:url(../images/de_bg.jpg);
}
.cur a:hover{
	color: #ff6476;
	background-image:url(../images/de_bg.jpg);
}	
.cur a:link{
	width: 150px;
	display: block;
	height: 45px;
	color: #ff6476;
	text-align: center;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	}
.tupp{
	text-align: center;
	}
.tupp img{
	height: 140px;
}
.dazib{
	font-family: "微软雅黑";
	font-size: 20px;
	word-spacing: 25px;
	font-weight: normal;
	text-align: center;
	line-height: 56px;
	padding-top: 20px;
	color: #333;
	}

.khal_top{
	height: 432px;
	background: url(../images/kgal_topBg.jpg) no-repeat center top;
}

.whtj_topBg{
	height: 435px;
	background: url(../images/whtj_top.jpg) no-repeat center top;
}

.xiao2 a.on{
	color: #ff0051;
	text-decoration: underline;
}

/* 网红详情页 */
.width_1140{
	width: 1140px; 
	margin: 0 auto;
	padding: 10px 0;
}
.whDetail_top{
	font-size: 12px;
	color: #666;
	padding: 15px 0;
	border-bottom: 1px solid #e4e3e3;
}
.whDetail_top a{
	color: #666;
}
.whDetail_top a.on{
	color: #fc6576;
}
.whDetail_row{ margin: 40px 0 0 0; overflow: hidden; }

.whD_left{ width: 800px; float: left; }
.whD_right{ width: 280px; float: right; }
.whD_part1{ overflow: hidden; }
.whD_img{ width: 256px; float: left; }
.whD_img img{ width: 100%; }
.whD_info{ width: 540px; float: right; overflow: hidden; }
.whD_info li{ margin: 0 0 18px 0; display: inline-block; }
.whD_info span{ font-size: 14px; display: inline-block; }
.whD_info li span:first-child{ width: 150px; float: left; text-align: right; color: #666; }
.whD_info li span+span{ color: #333; float: left; width: 385px; padding: 0 0 0 5px; }
.whD_info li span+span label{ display: inline-block; width: 92px; margin: 0 0 10px 0; }
.whD_btn{ overflow: hidden; margin: 15px 0 0 0; }
.whD_info li span+span button{ padding: 15px 30px; margin: 0 15px 0 0; font-family: "微软雅黑"; float: left; border-radius: 6px; border: none; background: #ff6476; color: #fff; font-size: 16px; }
.whD_info li span+span i{ display: inline-block; float: left; }
.whD_info li span+span i em{ display: block; font-size: 18px; color: #3cded8; }
.text-center{ text-align: center; }
.whD_part2{ width: 776px; }
.whD_part2 span{ display: block; padding: 10px 0; font-size: 15px; color: #666; font-weight: bold; border-bottom: 1px solid #e4e3e3; }
.whD_part2 p{ font-size: 14px; color: #333; line-height: 30px; margin: 15px 0; }
.whD_right_box{ border: 1px solid #e4e3e3; margin-bottom: 25px; }
.whD_right_box h4{ font-size: 14px; color: #666; padding: 14px 20px; background: #f9f9f9; border-bottom: 1px solid #e4e3e3; }
.whD_right_box ul{ padding: 20px; }
.whD_right_box ul li{ overflow: hidden; height: 120px; }
.whD_right_box ul li+li{ margin-top: 20px; }
.whD_right_box ul li img{ width: 95px; height: 120px; float: left; }
.whD_right_box ul li span{ display: inline-block; float: left; padding: 0 0 0 20px; }
.whD_right_box ul li span b{ font-size: 15px; color: #333; display: inline-block; line-height: 28px; margin: 0 0 8px 0; }
.whD_right_box ul li span i{ display: block; font-size: 12px; color: #666; font-style: normal; line-height: 25px; }

/* 公共样式 */	
.marTB_20{ margin: 20px 0; }
.paddBottom_60{ padding-bottom: 60px; }
.marTop_40{ margin-top: 40px; }
.paddTop_30{ padding-top: 30px; }


/* 分页样式 */
.pagging{ text-align: center; margin: 30px 0; }
.pagging .pagination{ display: inline-block; overflow: hidden; }
.pagging .pagination li{ float: left; margin: 0 5px; }
.pagging .pagination li a{ display: inline-block; padding: 5px 10px; border-radius: 5px; border: 1px solid #ccc; }
.pagging .pagination li span{ display: inline-block; padding: 5px 10px; border-radius: 5px; border: 1px solid #ccc; }
.pagging .pagination li a:hover{ background: #f9f9f9; }
.pagging .pagination .active span{ background: #ff6476;color: #FFFFFF}


.bespeak td{
	line-height: 65px;height: 65px;
}
.bespeak .bespeak_left{
	width: 25%;padding-left: 80px;font-family: "微软雅黑";font-size: 16px;
}
.bespeak .bespeak_right{
	text-align: left;padding-left: 15px;
}
.bespeak .bespeak_right span{
	margin: 0px 5px;
}
.bespeak .bespeak_right input[type='text']{
	font-size: 12px;  font-family: "微软雅黑";  color: #999999;  padding: 0 15px;  border: none;  width: 285px;  height: 50px;
}